<h2 id="title">Welcome to Ember</h2>

<nav>
  {{#if session.isAuthenticated}}
    <p>Logged in as <b>{{session.currentUser.email}}</b></p>
  {{else}}
    <p>Not logged in.</p>
  {{/if}}
</nav>

<li>{{#link-to 'google-sign-in'}}Sign in with Google{{/link-to}}</li>

{{outlet}}
